// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
  margin: auto;
}

#container {
  padding: 1rem;
}

header, header nav {
  padding: 0; margin: 0;
}

#container, header nav {
  margin: 0 auto;
  max-width: 900px;
}

h1 {
  font-size: 3em;
  margin-bottom: 1rem;
  border-bottom: 3px solid black;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a:hover {
  text-decoration: underline;
}

.nav-link {
  text-align: center;
}

a.nav-link:hover {
  text-decoration: none;
  font-weight: bold;
}
